body {
    background-image: url(721563.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: white;
}